.head{
    background-color: aqua;
    flex-wrap: wrap;
    height: 150px;
    margin: 5px;

}
.contenu{
    display: flex;

}
.side{
    background-color: rgb(41, 75, 8);
    height: 300px;
    width: 40%;
    margin: 5px;
    }

.main{
    background-color:rgb(203, 120, 164);
    height: 300px;
    width: 60%;
    margin: 5px;

    
}
.footer{
    background-color: grey;
    flex-wrap: wrap;
    height: 150px; 
   
   
}
.box{
    text-align: center;
    font-size: larger;
}